/* CSS for index.html  */

/* Parallax images below/above main content */
.parallax-container {
    height: 400px;
}
img{
  max-width: 100%;
  height: auto;
}

/* MAIN CONTENT */

/* Background Patterns from https://www.toptal.com/designers/subtlepatterns/ */
.section {
  background-image: url(gplaypattern_@2X.png);
}
 
.collapsible-body {
   background-image: url(grey_wash_wall_@2X-min.png);
}
 

/* Profile Picture */
.me {
  max-height: fit-content;
  width: auto;
}


.section_edit {
  background-image: none;
}


.header{
  color: black;
  text-shadow: -2px 2px 2px grey;
}

/* Text Stuff */
h3 {
  margin-bottom: -10px;
  color: black;
  text-shadow: -2px 2px 2px white;
}
h5 {
  color: rgb(27, 27, 27);
  text-shadow: -1px 1px 1px rgb(216, 216, 216);
}

h6, .li {
  color: white;
  text-shadow: -2px 2px 2px rgb(66, 66, 66);
  list-style-type: circle !important
}
/* Date-Night Aplication Screenshot */
.dateNight {
  height: auto;
  width: auto;
}